$charcoal: #bbb;

.main-header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $charcoal;
  display: flex;
  height: 100px;
  padding: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  a,
  span {
    font-size: 1.2em;
    margin: 0 20px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}

.slurp-icon {
  height: 75px;
}

.nav-link {
  color: #BA2F00;
  font-size: 16px !important;
  margin: 10px;
  width: 90px;
  font-family: 'Gloria Hallelujah', cursive;
}

.nav-link:hover {
  color: red;
  text-decoration: underline;
}

.slurp-title {
  font-family: 'Gloria Hallelujah', cursive;
}

.username-box {
  font-family: 'Gloria Hallelujah', cursive;
}

.fade-out {
  transition: opacity .75s linear;
  opacity: 0;
}
