$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

// .ramen-search-div {
//   border: 1px solid black;
//   padding: 5px;
//   margin: 10px 5px;
//   flex-direction: row;
//   max-width: 20%
// }

.card {
  max-width: 30%;
  margin: 10px;
  border: 1px solid black;
  float: left;
  height: 400px;
  padding: 10px;

}
.yelp-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.yelp-title {
  text-align: center;
  color: #ff5100;
}

.yelp-header {
  text-align: center
}

.search-header {
  text-align: center
}


.auth-form {
  height: 500px;
  border: 1px solid black;
  padding: 30px;
}

.search-ramen-form {
  text-align: center;
  padding: 15px;
  margin: 25px;
}

body {
  background-image: url('https://i.imgur.com/AEQYYnJ.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.create-review-form {
  padding: 25px;
  width: 500px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid black;
  font-size: 18px
}
