$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

// .ramen-search-div {
//   border: 1px solid black;
//   padding: 5px;
//   margin: 10px 5px;
//   flex-direction: row;
//   max-width: 20%
// }

.card {
  max-width: 30%;
  margin: 10px;
  border: 1px solid black;
  float: left;
  height: 400px;
  padding: 10px;

}
.yelp-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.yelp-title {
  text-align: center;
  color: #ff5100;
}

.yelp-header-main {
  color: #BA2F00;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.search-header {
  color: #BA2F00;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}


.auth-form {
  height: 500px;
  border: 1px solid black;
  padding: 30px;
}

.search-ramen-form {
  text-align: center;
  padding: 15px;
  margin: 25px;
}

.create-review-form {
  padding: 25px;
  width: 500px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid black;
  font-size: 18px
}

.ramen-price {
  color: green;
}

.auth-form {
  height: 400px;
  width: 300px;
  font-family: 'Gloria Hallelujah', cursive;
}

.auth-button {
  border-radius: 10px;
  background-color: red;
  color: white;
  border: 1px solid black;
}

.auth-button:hover {
  background-color: white;
  color: red;
}

.review-link {
  font-size: 24px;
  color: red;
  border: 1px solid black;
  padding: 39px;
  margin: 30px;
}

.review-title {
  font-size: 36px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 30px;
  text-decoration: underline;
}


.list-image {
  height: 100px;
}

#video-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

video {
  background: url('./SlurpMainPicture.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.home-background {
  position: relative;
  height: calc(100vh - 100px);
}

.create-review-form {
  font-family: 'Gloria Hallelujah', cursive;
}

.edit-review-form {
  text-align: center;
}


.yelp-header-main {
  color: RGB(254, 227, 121);
  text-shadow: 1px 1px black;
  font-size: 48px;
  margin-bottom: 30px;
}

.search-input {
  height: 50px;
  width: 500px;
  font-size: 24px;
  padding: 10px;
}
